extends layout

block content
    body.pure-g
            div.pure-u-1-3
                div.pure-g
                    // Notice my form has no action, this is because I am going to use javascript
                    // to process the form.
                    form(action="")
                        div.pure-u-2-3
                            input#message(autocomplete="off")
                        div.pure-u-1-3
                            button Send
            div.pure-u-2-3
                ul#messages