* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

html, body {
	height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.holder {
	min-height: 100%;
}

form { 
	background: #000; 
	padding: 3px; 
	bottom: 0px; 
	width: 100%; 
}
      
form input { 
	border: 0; 
	padding: 10px; 
	width: 100%; 
}
     
form button { 
	width: 100%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}
      
#messages { 
	list-style-type: none; 
	margin: 0;
}

#messages li { 
	padding: 5px 10px; 
    line-height: 32px;
}
     
#messages li:nth-child(odd) { 
	background: #eee; 
}

.chatPage {
    display: none;
}
